<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free restaurant catalogue for you">
    <meta name="theme-color" content="#04293a" />
    <link rel="apple-touch-icon" href="/icons/icon_100.jpg">
    <link rel="icon" href="favicon.jpg">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <title>Restaurant Apps</title>
</head>

<body>
    <a tabindex="0" class="skip-link">Menuju ke konten</a>
    <header>
        <div class="app-bar">
            <h1>Restaurant Apps</h1>
            <a id="hamburger" style="color: white;">☰</a>
            <nav id="drawer">
                <ul>
                    <a href="">
                        <li>Home</li>
                    </a>
                    <a href="#/like">
                        <li>Favorite</li>
                    </a>
                    <a href="https://github.com/iqsyal21" target="_blank" rel="noopener noreferrer">
                        <li>About Us</li>
                    </a>
                </ul>
            </nav>
        </div>
        <div class="hero">
            <div class="hero__inner hero__card">
                <h1 class="hero__title">Restaurant Apps</h1>
                <p class="hero__tagline">A website that provides information about famous restaurants in several regions
                    of Indonesia.
                    Updated and reliable information that can help you connoisseurs of restaurant food with promising
                    quality.</p>
            </div>
        </div>
    </header>
    <section>
        <main tabindex="0" id="mainContent">
        </main>
    </section>
    <footer>
        <p>Submission Katalog Restaurant Apps + PWA &#169; 2022, Studi Independen Batch 2 · Iqsyal Maulana</p>
    </footer>
</body>

</html>